{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-multi-spaces": 0,
    "max-len": ["error", 800, 4, {"ignoreUrls": true}],
    "jsx-quotes": ["error", "prefer-single"],
    "quotes": ["error", "single"],
    "no-var": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "no-shadow": 0,
    "no-param-reassign": 0,
    "arrow-body-style": 0,
    "prefer-const": 0,
    "radix" : 0,
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "only-multiline"
    }],
    "no-underscore-dangle": 0,
    "react/sort-comp" : 0,
    "new-cap": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "no-console": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "prefer-template": 0,
    "no-use-before-define": 0,
    "react/prefer-es6-class": 0,
    "spaced-comment": 0,
    "key-spacing": 0,
    "prefer-arrow-callback": 0
  },

  "globals": {
    "Promise": true,
    "can": true,
    "doop": true
  }
}
